/* **********************************
    HEADER
 ************************************/
.header .header-inner {
    padding-top: 5px;
    padding-bottom: 5px;
    color: #333;
    background-color: #557076;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 1em;
}

h1 {
    color: white !important;
    font-size: 36px !important;
    padding-top: 20px;
}

.header .container .title h2 {
    font-size: 18px;
    margin-top: .1em;
    margin-bottom: 2.5em;
}

@font-face {
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
}

body {
    font-family: sans-serif;
    font-weight:normal;
    margin: 0;
    padding: 0;
    color: #333;
    height:100%;
}

#title {
    text-align: center;
}

#topContent {
    font-family:sans-serif;
    font-weight:normal;
    margin-left: 20px;
}

/* **********************************
    MAP
 ************************************/
.feature {
    fill: none;
    stroke: grey;
    stroke-width: 1px;
    stroke-linejoin: round;
}
.mesh {
    fill: none;
    stroke: lightgrey;
    stroke-width: 2px;
    stroke-linejoin: round;
}

#map, #scatterplot {
    margin: 0px 0px 0px 0px;
    padding: 0px;
    float: left;
}

span.year, span.count {
    font-family:sans-serif;
    font-weight:normal;
    font-size: 12px;
    width: 100px;
    display: inline-block;
    margin-left: 20px;

}

.states {
    fill: #BFBFBF;
    stroke: #ffffff;
    stroke-width: 2px;
    stroke-linejoin: round;
}

/* **********************************
    MAP DOTS / SIGHTINGS
 ************************************/
.sightings{
    fill: gainsboro; /*#9fee98;*/
    stroke: gainsboro;
    stroke-width: 2px;
}

.sightings:hover{
    fill: darkslategrey; /*#FF00FF;*/
    stroke: darkslategrey;
}

.tooltipMap {
    font-family:sans-serif;
    font-weight:normal;
    position: absolute;
    padding: 12px;
    box-shadow: 0 0 5px #999999;
    background-color: darkslategray;
    color:white;
    font-size:11px;
    border-radius: 8px;
    text-align: left;
    display: inline;
    max-width: 200px;
}

#slider {
    text-align: right;
    margin-top: -30px;
}

/* **********************************
    PIE CHART
 ************************************/
.tooltipChart{
    font-family:sans-serif;
    font-weight:normal;
    background: darkslategray;
    box-shadow: 0 0 5px #999999;
    color: white;
    font-size: 11px;
    border-radius: 8px;
    left: 130px;
    padding: 10px;
    position: absolute;
    text-align: center;
    top: 95px;
    width: 80px;
    z-index: 10;
    display: block;
    opacity: 0;
}

.arc path {
    stroke: #fff;
    stroke-width: 2;
}

.arc path:hover{
    fill: #4c4c67;
    stroke: #4c4c67;
}


#chart {
    width: 400px;
    height: 300px;
    float: left;
    padding-left: 80px;
    margin-top: -10px;
}

/* **********************************
    AREA CHART
 ************************************/
.background {
    fill: none;
    pointer-events: all;
}

path { stroke: #333; stroke-width: 1; }
path:hover { stroke-width: 3; }
