@font-face {
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
}

body {
    font-family: sans-serif;
    font-weight:normal;
    margin: 0;
    padding: 0;
    color: #333;
    height:100%;
}

#title {
    text-align: center;
}

#content {
    font-family:sans-serif;
    font-weight:normal;
    margin: 5px;
    padding: 10px;
    width: 805px;

}

/* map styling*/
.feature {
    fill: none;
    stroke: grey;
    stroke-width: 1px;
    stroke-linejoin: round;
}
.mesh {
    fill: none;
    stroke: lightgrey;
    stroke-width: 2px;
    stroke-linejoin: round;
}

#map {
    margin: 0px 0px 0px 0px;
    padding: 0px;
}

span.year, span.count {
    font-family:sans-serif;
    font-weight:normal;
    margin: 0px 0px 0px 0px;
    font-size: 12px;
    width: 100px;
    display: inline-block;
}

.states {
    fill: #BFBFBF;
    stroke: #ffffff;
    stroke-width: 2px;
    stroke-linejoin: round;
}

.sightings{
    fill: #39B54A;
    stroke: #39B54A;
    stroke-width: 2px;
}

.sightings:hover{
    fill: #FF00FF;
    stroke: #FF00FF;
}

.tooltipMap {
    font-family:sans-serif;
    font-weight:normal;
    position: absolute;
    padding: 12px;
    background-color: darkslategray;
    color:white;
    border-radius: 2px;
}

#slider {
    text-align: right;
    margin-top: -30px;
}



